<nav id="sidebar" <%- cookies.sidebar === "false" ? 'class="active"' : "" %>>
    <div class="sidebar-header">
        <a href="home">
            <img src="images/logo.png">
        </a>
    </div>

    <ul class="list-unstyled components">
        <% for(const p of pages) { %>
        <li <% if (page === p.getPath()) { %>class="active" <% } %>>
            <a href="#<%= p.getID() %>-submenu" data-toggle="collapse" aria-expanded="false"
                class="dropdown-toggle"><%= p.title %></a>
            <ul class="collapse list-unstyled" id="<%= p.getID() %>-submenu">
                <% for(const s of p.getSections()) { %>
                <li>
                    <a href="<%= p.getID() %>#<%= s.id %>"><%= s.title %></a>
                </li>
                <% } %>
            </ul>
        </li>
        <% } %>
    </ul>
</nav>