<% if (locals.error) { %>
<div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 20px;">
    <strong>Error:</strong> <%= error %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<% } %>

<div style="box-shadow: 1px 1px 7px rgba(0,0,0,0.4);margin-top: 20px;">
    <img src="images/header.jpg" style="width: 100%;" />
</div>

<div class="card">
    <div class="card-body" id="introduction">
        <h2>Introduction</h2>
        <hr>
        <p>
            In 2019, 65% of Americans played video games, and of those Americans, 52% used a computer
            to play <%- ref(1) %>. Many video games have minimum and recommended requirements for players’
            computers. Casual computers, such as work or personal desktops, often will not meet all these requirements. A great choice to meet these requirements is by building a computer yourself, which is significantly cheaper than purchasing a prebuilt computer.
        </p>
        <p>
            Building a computer requires
            only a screwdriver and a few hours, so it is never worth it to spend hundreds of extra dollars
            buying a prebuilt computer.
            However, building a computer requires handling technology costing hundreds of dollars. First-time
            computer builders can run into many problems that take hours to solve: learning all the parts of a
            computer, selecting parts for their own computer, connecting the parts together, and maintaining
            the computer after building it. When you first build a computer, you may use
            wikipedia to learn all the parts of a computer. Then, you would compare parts based on price and
            performance, and select parts that fit together while being in your budget. Next, you would
            watch several hour-long videos that walk through the assembly of a computer. Finally, you
            would build your computer while constantly pausing and playing a video for several hours. This
            manual will combine all these steps to minimize the amount of time you spend building your
            computer while maximizing the amount of time you spend using it.
        </p>
    </div>
</div>
<div class="card">
    <div class="card-body" id="table-of-contents">
        <h2>Table of Contents</h2>
        <hr>
        <p>
            This website is designed to aid first-time computer builders in selecting parts, building a computer from
            those parts, and maintaining the computer as it wears down over time. It gives tips for
            cable management, and selecting other accessories such as monitors, mice, and keyboards. Additionally, this
            website covers replacing or upgrading the parts in a computer, and when a computer needs to be upgraded.
            Below is a table of contents to help you with navigating the website:
        </p>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        Computer Building Guide
                    </div>
                    <ul class="list-group list-group-flush">
                        <% for(const p of pages) { %>
                        <li class="list-group-item">
                            <a href="<%= p.getID() %>" style="font-weight: bold;"><i class="fas fa-external-link-alt"
                                    style="color: gray;"></i> <%= p.title %></a>
                            <ul>
                                <% for(const section of p.getSections()) { %>
                                <li><%= section.title %></li>
                                <% } %>
                            </ul>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>